* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgba(47, 193, 140, 1);
}

.background {
  background-image: url(./css/images/foto\ fundo-1366.png);
  opacity: 0.75;
  mix-blend-mode: luminosity;
  background-position: center;
  position: absolute;
  width: 1366px;
  height: 768px;
}